<% include ./partials/header %>

<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to YelpCamp</h1>
			<p>View our handpicked campgrounds from all over the world.</p>
			<a class="btn btn-primary" href="/campgrounds/new">Add new Campground</a>
		</div>
	</div>

	<div class="row">
		<% campgrounds.forEach(function(campground) {%>
			<h2><%= campground.name %></h2>
			<img src="<%= campground.image %>">
			<p><%= campground.description %></p>
		<% });%>
	</div>


	
</div>




<% include ./partials/footer %>